/*
 * @Author: xiaoshan 
 * @Date: 2017-05-16 18:23:41 
 * @Last Modified by: xiaoshan
 * @Last Modified time: 2017-05-30 16:35:17
 */

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: 14px
}

.container {
  width: 1170px;
  margin: auto
}

.container-fluid {
  width: 100%
}

.col-sm-3 {
  width: 24%;
  float: left
}

.col-sm-9 {
  width: 75%;
  float: left;
  min-height: 600px
}

.col-sm-12 {
  width: 100%;
  clear: both
}

.text-center {
  text-align: center
}

ul {
  margin: 0;
  padding: 0
}

li {
  list-style-type: none
}

a {
  text-decoration: none;
  color: #0366D6
}

.pull-left {
  float: left
}

.pull-right {
  float: right
}

.clear {
  clear: both
}


/***按钮***/

.btn {
  padding: 8px 18px;
  cursor: pointer;
  border-radius: 3px;
  text-align: center
}


/**默认按钮**/

.btn-default {
  border: 1px solid #C7CACD;
  background: #F3F6F8;
  color: #24292E;
  margin-top: 16px
}

.btn-default:hover {
  background: #E9EEF3
}
/**信息按钮**/

.btn-info {
  border: 1px solid #055DBF;
  background: #0366D6;
  color: #FFFFFF
}

.btn-info:hover {
  background: #1776E3
}

/**成功按钮**/

.btn-success {
  border: 1px solid #279643;
  background: #2FBF50;
  color: #FFFFFF
}

.btn-success:hover {
  background: #27A644
}


/**badge 徽章*/

.badge {
  padding: 2px 6px;
  border-radius: 10px;
  background: #EDEDEE;
  cursor: pointer
}

/***表单***/
.form-group{
  margin-top: 12px;
}
.form-group label{
  font-size: 16px;
  font-weight: 580;
  line-height: 30px;
}
.form-contral-input{
  width: 440px;
  height: 34px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #D1D5DA; 
  background: #FAFBFC;
  text-indent: 8px
}
/***  box-shadow:  0 0 6px #2188FF;*/
.form-contral-input:focus{
  border: 1px  solid #2188FF;
  box-shadow: inset 0 1px 2px rgba(27,31,35,0.075),0 0 0 0.2em rgba(3,102,214,0.3)
}
/**表单提示信息**/
.note{
  font-size: 13px;
  color: #24293B
}
.note-info{
   font-size: 14px;
  color: #0366D6
}

